.add {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add>:first-child {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-top-left-radius: 0.5rem;
}

.add>:first-child p,
h1 {
    font-size: 2rem;
    padding: 0;
    margin: 0;
    margin-bottom: 1rem;
}

.add>:first-child p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}



.add>:last-child {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-right-radius: 0.5rem;
}