.add {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add>:first-child {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 0.5rem;
}

.add>:last-child {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-right-radius: 0.5rem;
}