.common_skin,
.common_skin_content {
    display: flex;
}

.common_skin,
.common_skin_content,
.common_skin_content_data {
    width: 100%;
    height: 100%;
}

.common_skin_content {
    overflow: hidden;
}

.common_skin {
    flex-direction: column;
    border-radius: 0.5rem;
}

.common_skin_upper_nav {
    width: 100%;
    min-height: 60px;
}

.common_skin_content_side_nav {
    min-width: 80px;
    height: 100%;
}

.common_skin_content_data {
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 0.5rem;
}