.deviceRoom {
    display: flex;
    width: 100%;
    height: 100%;
}

.deviceRoom > :first-child {
    height: 100%;
    min-width: 15%;
    min-width: 250px;
    border-top-left-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.deviceRoom > :last-child {
    height: 100%;
    width: 85%;
    border-bottom-right-radius: 0.5rem;
}

.deviceRoom-name {
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    /* background-color: chocolate; */
}

.deviceRoom-btn {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0.5rem;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    /* background-color: springgreen; */
}

.deviceRoom-btn::-webkit-scrollbar {
    display: none;
}

.deviceRoom-status-btn {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
}

.deviceRoom-status-btn > :first-child span {
    cursor: pointer;
}

.deviceRoom-status-btn div {
    width: 32%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.deviceRoom-status-btn div p {
    margin: 0;
    margin-top: 0.5rem;
    padding: 0;
}

.deviceRoom_isLoading,
.deviceRoom_isError,
.deviceRoom_notfound {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
