.about{
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    box-sizing: border-box;
}

.about::-webkit-scrollbar {
    display: none;
}

.about-theme-icon {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    top: 6px;
    right: 22px;
    padding: 0.5rem;
    z-index: 1000 !important;
    cursor: pointer;
}