.statusList-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.statusList-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding: 1.5rem;
}

.statusList-notFound-message {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    padding: 5rem;
}

.statusList-notFound-message h1 {
    color: red;
}

.statusList-notFound-message p {
    color: lavender;
}

.statusList-container span {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.statusList-card {
    width: 80px;
    border-radius: 0.75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
    transition: .6s cubic-bezier(.28, -0.03, 0, .99);
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
    background-color: rgb(42, 46, 33);
}

.statusList-card>.statusList-row {
    color: white;
    display: flex;
    flex-wrap: nowrap;
}

.statusList-card>.statusList-row>.statusList-icon {
    background: #223;
    color: white;
    border-radius: 50%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.statusList-card>.statusList-row>.statusList-description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 80px;
    width: 520px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
}

.statusList-description p {
    color: #b0b0ba;
    padding: 0;
}

.statusList-description h4 {
    text-transform: uppercase;
}

.statusList-input {
    display: none;
}

.statusList-input:checked+.statusList-card {
    width: 600px;
}

.statusList-input:checked+.statusList-card .statusList-description {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.statusList-card-float-label {
    width: 100%;
    border-radius: 0.5em;
    color: rgb(255, 165, 2);
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
}

.statusList-card-float-label p {
    font-size: 1.4rem;
    padding: 7em;
    transform: rotate(-90deg);
    display: inline-block;
}

.statusList-card-float-label span {
    position: absolute;
    display: inline-block;
    background-color: rgb(181, 212, 59, 0.4);
    width: 100%;
}

.statusList-wrapper_isLoading {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: inherit;
}