.spotify-library-songs {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding: 0.5rem;
}

.spotify-library-songs::-webkit-scrollbar {
    display: none;
}
