.search {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    flex-direction: column;
    background-color: aqua;
}
