.search {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 1rem;
    flex-direction: column;
}

.search_bar {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .search_result {
    width: 100%;
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
} */

.search_result {
    width: 100%;
    height: 85%;
    padding: 0.5rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.search_result::-webkit-scrollbar {
    display: none;
}

.search_result-isLoading {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.2rem;
}
.search_result-empty {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
