.spotify-expand-content-home {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.spotify-expand-content-home-song-widget {
    width: 100%;
    height: 30%;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.spotify-expand-content-home-song-wrapper {
    width: 100%;
    height: 69%;
    border-radius: 1rem;
    padding: 0.5rem;
}

/* ********pic******* */

.spotify-expand-content-home-spotify-img {
    border-radius: 0.8rem;
}

.spotify-expand-content-home-song-widget > :first-child {
    border-radius: 1rem;
    width: 30%;
    height: 100%;
}
.spotify-expand-content-home-song-widget > :first-child span {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* *******info******* */

.spotify-expand-content-home-song-widget-playing {
    border-radius: 1rem;
    width: 69%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.spotify-expand-content-home-song-widget-playing section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.spotify-expand-content-home-song-widget-playing > :first-child {
    height: 40%;
    padding-top: 0.5rem;
}
.spotify-expand-content-home-song-widget-playing > :last-child {
    height: 60%;
}

.spotify-expand-content-home-song-widget-playing > :first-child h1,
.spotify-expand-content-home-song-widget-playing > :first-child p {
    margin: 0;
    padding: 0;
}
.spotify-expand-content-home-song-widget-playing > :first-child h1 {
    font-size: 1rem;
}
.spotify-expand-content-home-song-widget-playing > :first-child p {
    padding: 0.5rem;
}

/* *********** */

.spotify-expand-content-home-song-widget-playing > :last-child {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.spotify-expand-content-home-song-widget-playing > :last-child div {
    width: 70%;
    display: flex;
    justify-content: space-around;
}

/* ********* */

.spotify-expand-content-home-song-wrapper > :first-child {
    width: 100%;
    height: 10%;
    display: flex;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom: 1px solid black;
}

.spotify-expand-content-home-song-wrapper > :first-child > :first-child {
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 2rem;
}

.spotify-expand-content-home-song-wrapper > :first-child > :first-child span {
    margin-left: 1rem;
}

.spotify-expand-content-home-song-wrapper > :first-child > :last-child {
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spotify-expand-content-home-add-to-album {
    display: flex;
    align-items: center;
    justify-content: center;
}

.spotify-expand-content-home-song-wrapper > :last-child {
    width: 100%;
    height: 90%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.spotify-expand-content-home-song-wrapper > :last-child::-webkit-scrollbar {
    display: none;
}

/* ******** */

.spotify-song-template-empty {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spotify-song-template-isLoading {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.2rem;
}

.spotify-song-template-isError {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.2rem;
}

.spotify-expand-content-home-song-widget-ad {
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 1rem;
}

.spotify-expand-content-home-song-widget-ad h1 {
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}
.spotify-expand-content-home-song-widget-ad p {
    margin: 0;
    padding: 0;
}
