.spotify-expand-content-home {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.spotify-expand-content-home > :first-child {
    width: 100%;
    height: 30%;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.spotify-expand-content-home > :last-child {
    width: 100%;
    height: 69%;
    border-radius: 1rem;
    padding: 0.5rem;
}

/* ********pic******* */

.spotify-expand-content-home-spotify-img {
    border-radius: 0.8rem;
}

.spotify-expand-content-home > :first-child > :first-child {
    border-radius: 1rem;
    width: 30%;
    height: 100%;
    /* -webkit-box-shadow: 1px 3px 3px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 3px 3px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 3px 3px 0px rgba(0, 0, 0, 0.75); */
}
.spotify-expand-content-home > :first-child > :first-child span {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* *******info******* */

.spotify-expand-content-home > :first-child > :last-child {
    border-radius: 1rem;
    width: 69%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.spotify-expand-content-home > :first-child > :last-child section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.spotify-expand-content-home > :first-child > :last-child > :first-child {
    height: 40%;
    padding-top: 0.5rem;
}
.spotify-expand-content-home > :first-child > :last-child > :last-child {
    height: 60%;
}

.spotify-expand-content-home > :first-child > :last-child > :first-child h1,
.spotify-expand-content-home > :first-child > :last-child > :first-child p {
    margin: 0;
    padding: 0;
}
.spotify-expand-content-home > :first-child > :last-child > :first-child h1 {
    font-size: 1rem;
}
.spotify-expand-content-home > :first-child > :last-child > :first-child p {
    padding: 0.5rem;
}

/* *********** */

.spotify-expand-content-home > :first-child > :last-child > :last-child {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.spotify-expand-content-home > :first-child > :last-child > :last-child div {
    width: 70%;
    display: flex;
    justify-content: space-around;
}

/* ********* */

.spotify-expand-content-home > :last-child > :first-child {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom: 1px solid black;
    /* -webkit-box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.75); */
}

.spotify-expand-content-home > :last-child > :last-child {
    width: 100%;
    height: 90%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    /* background-color: blue; */
}

.spotify-expand-content-home > :last-child > :last-child::-webkit-scrollbar {
    display: none;
}

/* ******** */

.spotify-song-template-empty {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spotify-song-template-isLoading {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.2rem;
}
