.device {
    cursor: pointer;
    width: 190px;
    height: 170px;
    border-radius: 2rem;
    padding: 0.7rem;
    -webkit-box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.75);

}

.device>:first-child {
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
}

.device>:last-child {
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1.3rem;
}

/* ***** */

.device>:first-child>:first-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.device>:first-child>:last-child {
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.device>:last-child>:first-child {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.device>:last-child>:first-child p {
    margin: 0;
    padding: 0.1rem;
}

.device>:last-child>:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ****** */

.rgbGadgetExpand {
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 1.5rem;
    -webkit-box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.75);

}

.rgbGadgetExpand section {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.rgbGadgetExpand>:first-child {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rgbGadgetExpand>:last-child {
    width: 60%;
}

.rgbGadgetExpand>:last-child>:nth-child(1) {
    width: 100%;
    height: 13%;
    display: flex;
    /* align-items: center;
    justify-content: flex-end; */
    border-top-right-radius: 1.5rem;
}

.rgbGadgetExpand>:last-child>:nth-child(1) section {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    margin-right: 4rem;
}

.rgbGadgetExpand>:last-child>:nth-child(1) section div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12%;
    height: 100%;
}

.rgbGadgetExpand>:last-child>:nth-child(2) {
    width: 100%;
    height: 67%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.rgbGadgetExpand>:last-child>:nth-child(3) {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom-right-radius: 1.5rem;
}

.rgbGadgetExpand-r {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: rgba(255, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.rgbGadgetExpand-g {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: rgba(0, 128, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.rgbGadgetExpand-b {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: rgba(0, 0, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.rgbGadgetExpand-brightness {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* **** */

.applianceExpand {
    width: 100%;
    height: 100%;
    border-radius: 1.5rem;
    -webkit-box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

.applianceExpand section {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}