.coreApplicationSetting {
    display: flex;
    height: 100%;
    width: 100%;
}

.coreApplicationSetting_content {
    width: 75%;
    /* background: #23272f; */
    background-color: rgb(11, 20, 22);
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    color: lavender;
}

.coreApplicationSetting_content::-webkit-scrollbar {
    display: none;
}

.coreApplicationSetting_nav {
    color: lavender;
    width: 25%;
    /* background: #1c252e; */
    background-color: rgb(26, 40, 45);
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
}

.coreApplicationSetting_nav p {
    text-align: center;
}

.coreApplicationSetting_nav ul {
    width: 100%;
    padding: 2rem 0;
    padding-left: 4rem;
    padding-right: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.coreApplicationSetting_nav ul li {
    width: 100%;
    /* background: #23272f; */
    background-color: rgb(11, 20, 22);
    margin-bottom: 1rem;
    border-top-left-radius: 0.6rem;
    border-bottom-left-radius: 0.6rem;
    padding: 0.5rem;
    color: gray;
}

.coreApplicationSetting_nav ul li:hover {
    color: lavender;
}

.coreApplicationSetting_nav ul a:-webkit-any-link {
    text-decoration: none;
}