.spotify {
    height: 100%;
    border-radius: 1.5rem;
    padding: 0.5rem;
    -webkit-box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

.spotify-login-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

.spotify-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100px;
    width: 100px;
}

.spotify-label {
    font-weight: bold;
}

.spotify-isLoading {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.2rem;
}

/* ************************** */

.spotify-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.5rem;
}
