.spotify {
    width: 42%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 1.5rem;
    padding: 0.5rem;
    -webkit-box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

.spotify>:first-child {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.5rem;
}

.spotify>:last-child {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spotify>:last-child>:first-child {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    height: 100%;
    padding-left: 2rem;
}

.spotify>:last-child>:first-child h1,
.spotify>:last-child>:first-child p {
    padding: 0;
    margin: 0;
}

.spotify>:last-child>:first-child h1 {
    font-size: 2rem;
}


.spotify>:last-child>:last-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 20%;
    height: 100%;
    padding: 0.5rem;
}

.spotify>:last-child>:last-child span {
    cursor: pointer;
}

/* ******* */

.spotify-expand {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 1.5rem;
    -webkit-box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.75);
}