.addDevice {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    padding: 0.8rem;
    -webkit-box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}



.addDevice-form-wrapper-select {
    width: 100%;
    flex: 1; /* Allow to fill remaining space naturally */
    min-height: 160px; 
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
}

.addDevice-form-wrapper-select > :first-child {
    width: 100%;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    gap: 1em;
    padding: 1.1em;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 1fr);
    overflow-y: auto; /* Scroll ONLY here */
    scrollbar-width: none;
    border-radius: 0.5rem;
    height: 100%;
}

.addDevice-form-wrapper-select > :first-child ::-webkit-scrollbar {
    display: none;
}



.addDevice-form-wrapper-select > :first-child span {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    border-radius: 0.5rem;
    background-color: rgb(161, 255, 253);
    cursor: pointer;
}

.addDevice-form-wrapper-select > :first-child span > :first-child {
    padding: 0;
    margin: 0;
}
.addDevice-form-wrapper-select > :first-child span > :last-child {
    padding: 0;
    margin: 0;
}



.addDevice-form-wrapper-select p {
    font-size: 0.87rem;
}

/* Override DynamicForm styles to match AddDevice UI */
.addDevice .dynamicForm {
    width: 100%;
    flex: 1;
    min-height: 0;
}

.addDevice .dynamicForm-wrapper {
    background-color: transparent !important;
    padding: 0 !important;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.addDevice .dynamicForm-field-wrapper {
    margin-bottom: 0.5rem;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
