.common-nav-skin,
.common-nav-skin-content {
    display: flex;
}

.common-nav-skin,
.common-nav-skin-content,
.common-nav-skin-content-data {
    width: 100%;
    height: 100%;
}

.common-nav-skin-content {
    overflow: hidden;
}

.common-nav-skin {
    flex-direction: column;
    border-radius: 0.5rem;
}

.common-nav-skin-upper-nav {
    width: 100%;
    min-height: 60px;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.common-nav-skin-content-side-nav {
    min-width: 80px;
    height: 100%;
}

.common-nav-skin-content-data {
    border-bottom-right-radius: 0.5rem;
}
