.confirmation {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 0.5rem;
    -webkit-box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

.confirmation > :first-child {
    width: 100%;
    height: 48%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    padding: 2rem;
}

.confirmation > :first-child h1 {
    font-weight: lighter !important;
    font-size: 26px;
    line-height: 39px;
}

.confirmation > :last-child {
    width: 97%;
    height: 48%;
    display: flex;
    align-items: center;
    justify-items: center;
    border-radius: 0.4rem;
}

.confirmation > :last-child > :first-child {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 0.5rem;
}

.confirmation > :last-child > :last-child {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom-right-radius: 0.5rem;
}
