.exampleCodes {
    height: 100%;
    width: 100%;
    padding: 1rem 2rem;
    color: lavender;
    overflow: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.exampleCodes::-webkit-scrollbar {
    display: none;
}

.exampleCodes h1 {
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    color: lavender;
}
