.mqtt-information {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    padding: 0.5rem;
    -webkit-box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

.mqtt-information>:first-child {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.mqtt-information>:last-child {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}