.profileConfigWrapper {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 10fr;
    grid-auto-rows: 100%;
    grid-gap: 0.6em;
    padding: 1.5em;
    border-radius: inherit;
}

/* ************************************ */

.profileConfigWrapper_column_1 {
    padding: 0.5em;
    /* background: red; */
}
.profileConfigWrapper_column_2 {
    padding: 0.5em;
    /* background: rgb(169, 203, 55); */
}

/* ************************************** */

.profileConfigWrapper_column_1_nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    min-width: 100px;
    height: 70%;
    padding: 0.8em;
    border-radius: 1.5em;
}
.profileConfigWrapper_column_1_nav div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 32%;
}
.profileConfigWrapper_column_1_nav div p {
    margin: 0.5em;
    font-size: 1rem;
    line-height: 24px;
}
.profileConfigWrapper_column_1_nav div:hover {
    border-radius: inherit;
    cursor: pointer;
    background: rgb(31, 33, 35, 0.5);
    color: #00ffff;
}

/* ************************** */

.profileConfigWrapper_column_2_form {
    display: flex;
    height: 100%;
    gap: 1em;
}
.profileConfigWrapper_column_2_form_col_1 {
    width: 50%;
    border-radius: 1.5em;
    padding: 0.5em;
}
.profileConfigWrapper_column_2_form_col_2 {
    width: 50%;
    border-radius: 0.6em;
}

/* ********************************* */

.profileConfigWrapper_column_2_select_profile {
    height: 100%;
    background: yellow;
}
.profileConfigWrapper_column_2_edit_profile {
    height: 100%;
    background: rgb(255, 0, 191);
}
