.dashBoard {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
}

.dashBoard-content {
    width: 75%;
    height: 100%;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
}

.dashBoard-notification {
    width: 25%;
    height: 100%;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashBoard-notification span {
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    -webkit-box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

.dashBoard-content > :nth-child(2) {
    width: 100%;
    height: 30%;
}

.dashBoard-content > :first-child {
    width: 100%;
    height: 20%;
    display: flex;
    /* background-color: rgb(0, 255, 128); */
}

.dashBoard-content > :first-child > :first-child {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 3rem;
    /* background-color: darkorchid; */
}

.dashBoard-content > :first-child > :first-child h1 {
    font-size: 2rem;
    font-weight: normal;
}

.dashBoard-content > :first-child > :last-child {
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    justify-content: flex-end;
    /* background-color: aqua; */
    padding: 1rem;
}

.dashBoard-content > :first-child > :last-child span {
    /* background-color: gold; */
    padding: 0.5rem;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.dashBoard-content > :first-child > :last-child span p {
    margin: 0;
    padding: 0;
    font-size: small;
    margin-top: 0.3rem;
}

.dashBoard-content > :last-child {
    width: 100%;
    height: 50%;
}
