.dashBoard {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}

.dashBoard-content {
    width: 75%;
    height: 100%;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
}

.dashBoard-content>:nth-child(2) {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
}

.dashBoard-content>:nth-child(2)>:last-child {
    width: 5%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.dashBoard-content>:nth-child(2)>:last-child span {
    cursor: pointer;
}

.dashBoard-content>:first-child {
    width: 100%;
    height: 20%;
    display: flex;
}

.dashBoard-content>:first-child>:first-child {
    width: 65%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 3rem;
}

.dashBoard-content>:first-child>:first-child h1 {
    font-size: 2rem;
    font-weight: normal;
}

.dashBoard-content>:first-child>:last-child {
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-right: 3rem;
}

.dashBoard-content>:last-child {
    width: 100%;
    height: 50%;
}

.dashBoard-notification {
    width: 25%;
    height: 100%;
    padding: 0.5rem;
}

.dashBoard-notification span {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    -webkit-box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.75);
}