.gettingStarted {
    height: 100%;
    padding: 1rem 2rem;
}

.gettingStarted h1 {
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    color: lavender;
}

.gettingStarted p {
    font-size: 24px;
    color: lavender;
}

/* ********************** */

.gettingStarted_info_content {
    width: 100%;
    background: rgb(26, 40, 45);
    border-radius: 1rem;
    border: 1px solid gray;
    padding: 1.5rem 2rem;
    color: lavender;
    margin: 2rem 0;
}
.gettingStarted_info_content ul li {
    font-size: 20px;
    line-height: 48px;
}

.gettingStarted a {
    text-decoration: none;
    color: orange;
    cursor: pointer;
}

.gettingStarted a:hover {
    color: grey;
}
