.upper-navigation-user-btn section span,
.upper-navigation-user-btn section,
.upper-navigation-search,
.upper-navigation,
.upper-navigation-logo {
    display: flex;
    align-items: center;
}

.upper-navigation,
.upper-navigation-user-btn,
.upper-navigation-logo {
    height: 100%;
    display: flex;
    align-items: center;
}

.upper-navigation {
    width: 100%;
    justify-content: space-between;
    justify-content: center;
}

.upper-navigation-search {
    width: 50%;
    height: 100%;
    justify-content: center;
}

.upper-navigation-user-btn {
    width: 25%;
    justify-content: flex-end;
}

.upper-navigation-user-btn section {
    width: 15%;
    height: 100%;
    justify-content: center;
    margin-right: 0.5rem;
}

.upper-navigation-user-btn section span {
    width: 85%;
    height: 85%;
    justify-content: center;
}

.upper-navigation-logo {
    width: 25%;
    justify-content: flex-start;
    padding-left: 2rem;
}

.upper-navigation-logo p {
    font-size: 16px;
}
