.home {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.home::-webkit-scrollbar {
    display: none;
}

/****************/

.home-bounce-menu-wrapper {
    position: absolute;
    bottom: 30px;
    left: calc(50% - 35% / 2);
    width: 35%;
    height: 65px;
    padding: 0.5rem;
    border-radius: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    animation: bounce 3s infinite;
    z-index: 1000 !important;
}

.home-theme-icon {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    top: 6px;
    right: 22px;
    padding: 0.5rem;
    z-index: 1000 !important;
}

.home-bounce-menu,
.home-bounce-menu-login {
    width: 88px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.6rem;
    cursor: pointer;
}

.home-bounce-menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@keyframes bounce {
    0%,
    25%,
    50%,
    75%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-20px);
    }

    60% {
        transform: translateY(-12px);
    }
}

/**********Page1***********/

.home-landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150vh;
}

.home-landing-logo {
    width: 20vw;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.home-landing-pic {
    width: 60vw;
    height: 65vh;
    border: 5px solid;
    border-image-source: linear-gradient(
        130deg,
        #ff7a18,
        #af002d 41.07%,
        #319197 76.05%
    );
    border-image-slice: 1;
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-landing h1 {
    text-align: center;
    width: 60vw;
    font-size: 56px;
    line-height: 84px;
}

.home-landing h2 {
    text-align: center;
    width: 70vw;
    font-size: 32px;
    line-height: 48px;
    font-weight: 400;
}

/**********Page2*********/

.home-intro {
    height: 400vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.home-intro > :first-child {
    display: flex;
    flex-direction: row;
    height: 25%;
    align-items: flex-start;
}

.home-intro > :first-child > :first-child {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.home-intro > :first-child > :first-child h1 {
    text-align: center;
    font-size: 56px;
    line-height: 84px;
}

.home-intro-text-style {
    background: linear-gradient(
        to right,
        #379ff5,
        #9b5de5,
        #f15bb5,
        #f67280,
        #f77f00
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

.home-intro > :first-child > :last-child {
    padding: 6rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    height: 100%;
}

.hidden-el {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show-el {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@media (prefers-reduced-motion) {
    .hidden-el {
        transition: none;
    }
}

.home-intro > :first-child > :last-child:nth-child(1) {
    transition-delay: 200ms;
}

.home-intro > :first-child > :last-child:nth-child(2) {
    transition-delay: 300ms;
}

.home-intro > :first-child > :last-child:nth-child(3) {
    transition-delay: 400ms;
}

.home-intro > :first-child > :last-child p {
    font-size: 24px;
    line-height: 36px;
}

/***************Page3**************/

.home-intro > :nth-child(2) {
    height: 30%;
    width: 100%;
}

.home-intro-feature-container {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.home-intro-feature-container-top {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.home-intro-feature-container-top-stats {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    min-width: 800px;
}

.home-intro-feature-container-top-label {
    font-size: 14px;
    margin-bottom: 5px;
}

.home-intro-feature-container-top-value {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 6px;
}

.home-intro-feature-container-top-value.blue {
    color: #32597c;
}

.home-intro-feature-container-top-value.green {
    color: #28a745;
}

.home-intro-feature-container-top-description {
    font-size: 16px;
    color: #666;
    line-height: 24px;
}

.home-intro-feature-container-content {
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 24px;
    line-height: 36px;
}

.home-intro-feature-container-content p {
    margin-bottom: 30px;
}

/******set font*********Page4**************/

.home-intro > :last-child {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 30%;
    max-width: 1400px;
    border-radius: 0.6rem;
    /* background-color: #28a745; */
}

.home-intro > :last-child section {
    width: 30%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0.5rem;
    border: 2px solid lavender;
    border-radius: 0.5rem;
    background-color: lavender;
}

.home-intro > :last-child section div {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: rgba(134, 74, 246, 1);
}

.home-intro > :last-child section > :first-child {
    height: 30%;
}

.home-intro > :last-child section > :last-child {
    height: 68%;
}

.home-intro > :last-child section:nth-child(1) {
    transition-delay: 200ms;
}

.home-intro > :last-child section:nth-child(2) {
    transition-delay: 300ms;
}

.home-intro > :last-child section:nth-child(3) {
    transition-delay: 400ms;
}

.home-intro > :last-child section h1 {
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
    padding: 0.5rem;
    margin: 0;
    color: #f2f2f2;
}

.home-intro > :last-child section p {
    font-size: 24px;
    line-height: 36px;
    padding: 0.5rem;
    margin: 0;
    text-align: center;
}

/*********Page4***********/

.home-contact {
    display: flex;
    flex-direction: column;
    height: 70vh;
}

.home-contact div {
    width: 100%;
}

.home-contact > :first-child {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: inherit;
    height: 50%;
    border-bottom: 2px solid;
    border-image-source: linear-gradient(
        130deg,
        #ff7a18,
        #af002d 41.07%,
        #319197 76.05%
    );
    border-image-slice: 1;
}

.home-contact > :last-child {
    width: 100%;
    padding: 0.6em;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/***Upper Contact***/

.home-contact > :first-child > :first-child {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding: 2rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Helvetica, Arial, sans-serif;
}
.home-contact > :first-child > :first-child p {
    margin: 0;
    padding: 0.2rem;
    font-size: 24px;
    line-height: 36px;
}

.home-contact > :first-child > :last-child {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 2rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Helvetica, Arial, sans-serif;
}

.home-contact > :first-child > :last-child ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.home-contact > :first-child > :last-child ul li {
    padding: 0.1rem 1.5rem 0.1rem 1.5rem;
    border-right: 1px solid gray;
}

.home-contact > :first-child > :last-child ul > :last-child {
    border-right: none;
}

.home-contact > :first-child > :last-child ul li a {
    margin: 0;
    padding: 0;
    font-size: 24px;
    line-height: 36px;
    cursor: pointer;
    text-decoration: none;
    position: relative;
}
.home-contact > :first-child > :last-child ul li a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    transform-origin: right;
    background-color: gray;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.home-contact > :first-child > :last-child ul li a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

/***Lower Contact***/

.home-contact > :last-child > :first-child {
    height: 50%;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 2rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Helvetica, Arial, sans-serif;
}

.home-contact > :last-child > :first-child ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.home-contact > :last-child > :first-child ul li {
    padding: 0.1rem 1.5rem 0.1rem 1.5rem;
    border-right: 1px solid gray;
}

.home-contact > :last-child > :first-child ul > :last-child {
    border-right: none;
}

.home-contact > :last-child > :first-child ul li p {
    margin: 0;
    padding: 0;
    font-size: 24px;
    line-height: 36px;
    cursor: pointer;
    text-decoration: none;
    position: relative;
}
.home-contact > :last-child > :first-child ul li p::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    transform-origin: right;
    background-color: gray;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.home-contact > :last-child > :first-child ul li p:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.home-contact > :last-child > :last-child {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Helvetica, Arial, sans-serif;
}

.home-contact > :last-child > :last-child p {
    text-align: center;
    padding: 1rem;
    font-size: 16px;
    line-height: 24px;
}
