.home {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    overflow-y: scroll;
}

.home::-webkit-scrollbar {
    display: none;
}

.home {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.home-opening {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150vh;
}

.home-opening-logo {
    width: 20vw;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;

}

.home-opening-pic {
    width: 60vw;
    height: 65vh;
    border: 5px solid;
    border-image-source: linear-gradient(130deg,
            #ff7a18,
            #af002d 41.07%,
            #319197 76.05%);
    border-image-slice: 1;
    margin-top: 4rem;
}

.home-opening h1 {
    text-align: center;
    width: 60vw;
    font-size: 56px;
}

.home-opening h2 {
    text-align: center;
    width: 70vw;
    font-size: 32px;
}

.home-intro {
    height: 200vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-intro> :first-child {
    display: flex;
    flex-direction: row;
    height: 50%;
    align-items: flex-start;
}

.home-intro> :first-child>:first-child {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.home-intro> :first-child>:first-child h1 {
    font-size: 56px;
    text-align: center;
}

.home-intro> :first-child>:last-child {
    padding: 6rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    height: 100%;
}


.hidden-el {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show-el {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@media (prefers-reduced-motion) {
    .hidden-el {
        transition: none;
    }
}

.home-intro> :first-child>:last-child:nth-child(1) {
    transition-delay: 200ms;
}

.home-intro> :first-child>:last-child:nth-child(2) {
    transition-delay: 300ms;
}

.home-intro> :first-child>:last-child:nth-child(3) {
    transition-delay: 400ms;
}




.home-intro> :first-child>:last-child p {
    font-size: 24px;
}

.home-intro> :last-child {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50%;
    width: 70%;
    border-top: 4px solid rgb(255, 255, 255);
}

.home-intro> :last-child section {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.home-intro> :last-child section:nth-child(1) {
    transition-delay: 200ms;
}

.home-intro> :last-child section:nth-child(2) {
    transition-delay: 300ms;
}

.home-intro> :last-child section:nth-child(3) {
    transition-delay: 400ms;
}

.home-intro> :last-child section h1 {
    font-size: 20px;
}

.home-intro> :last-child section p {
    font-size: 16px;
}

.home-contact {
    display: flex;
    flex-direction: column;
    height: 80vh;
}

.home-contact div {
    width: 100%;
}

.home-contact>:first-child {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: inherit;
    height: 50%;
    border-bottom: 2px solid;
    border-image-source: linear-gradient(130deg,
            #ff7a18,
            #af002d 41.07%,
            #319197 76.05%);
    border-image-slice: 1;
}

.home-contact>:last-child {
    width: 100%;
    padding: 0.6em;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-contact>:last-child>:first-child {
    height: 40%;
    width: 80%;
    display: flex;
    justify-content: space-evenly;

}

.home-contact>:last-child>:first-child ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.home-contact>:last-child>:first-child ul li {
    padding: 0.1rem 1.5rem 0.1rem 1.5rem;
    border-right: 1px solid gray;
}

.home-contact>:last-child>:first-child ul>:last-child {
    border-right: none;
}

.home-contact>:last-child>:first-child ul li p {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    line-height: 24px;
    cursor: pointer;
    color: inherit;
    text-decoration: none;
    position: relative;
}

.home-contact>:last-child>:last-child {
    height: 60%;
    width: 80%;
}

.home-contact>:last-child>:last-child {
    align-items: flex-start;
    justify-content: center;
    display: flex;
}

.home-contact>:last-child>:last-child p {
    text-align: center;
    padding: 1rem;
    font-size: 0.8rem;
    line-height: 21px;
}

.home-contact>:last-child>:first-child ul li p::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.home-contact>:last-child>:first-child ul li p:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.home-contact>:first-child section {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.home-contact>:first-child section>:first-child {
    height: 100%;
    width: 30%;
    padding: 0.6rem;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.home-contact>:first-child section>:first-child p {
    margin: 0.4rem;
}

.home-contact>:first-child section>:last-child {
    height: 100%;
    width: 70%;
    padding: 0.6rem;
    display: flex;
    justify-content: space-around;

}

.home-contact>:first-child section>:last-child>:first-child {
    width: 50%;
    padding: 0.6rem;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 2rem;
}

.home-contact>:first-child section>:last-child>:last-child {
    width: 50%;
    padding: 0.6rem;
    display: flex;
    justify-content: space-evenly;

}

.home-contact>:first-child section>:last-child>:last-child ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.home-contact>:first-child section>:last-child>:last-child ul li {
    padding: 0.1rem 1.5rem 0.1rem 1.5rem;
}

.home-contact>:first-child section>:last-child>:last-child ul li a {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    line-height: 24px;
    cursor: pointer;
    color: inherit;
    text-decoration: none;
    position: relative;
}

.home-contact>:first-child section>:last-child>:last-child ul li a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: rgb(236, 235, 151);
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.home-contact>:first-child section>:last-child>:last-child ul li a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.home-opening_scroll_arrow {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 29%;
    height: 70px;
    text-align: center;
    bottom: 25px;
    right: 600px;
    padding: 0.5rem;
    border-radius: 0.6rem;
    animation: bounce 3s;
    animation-iteration-count: infinite;
    z-index: 1000 !important;
}


.home-theme-icon {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    top: 6px;
    right: 22px;
    padding: 0.5rem;
    z-index: 1000 !important;
}

.home-opening_bounce_arrow,
.home-opening_bounce_arrow_login {
    width: 88px;
    height: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.home-opening_bounce_arrow {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .home-opening_bounce_arrow_login {
    text-decoration: none !important;
} */

@keyframes bounce {

    0%,
    25%,
    50%,
    75%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-20px);
    }

    60% {
        transform: translateY(-12px);
    }
}

/* ******************** */