.list-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
}

.list-wrapper > :first-child {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.list-wrapper > :last-child {
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.list {
    display: flex;
    gap: 16px;
    list-style: none;
    overflow-x: none;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    -ms-overflow-style: none;
    width: 100%;
    height: 100%;
    padding: 1rem;
    overflow: hidden;
}

.list::-webkit-scrollbar {
    display: none;
}

.item {
    flex-shrink: 0;
    width: 49%;
    height: 100%;
    scroll-snap-align: center;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-family: sans-serif;
    font-size: 64px;
    font-weight: bold;
}
