.comingSoon {
    width: 100%;
    height: 100%;
    display: flex;
}

.comingSoon > :first-child {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 50%;
    height: 100%;
    padding: 2rem;
}

.comingSoon > :first-child > :first-child {
    width: 80%;
    height: 25%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    border-bottom-right-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.comingSoon > :first-child > :last-child {
    width: 80%;
    height: 45%;
    border-radius: 0.5rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;
}

.comingSoon > :first-child > :last-child div {
    width: 95%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.comingSoon > :first-child > :last-child input {
    outline: 0;
    width: 65%;
    min-height: 3.5em;
    padding-left: 1em;
    border-radius: 0.5rem;
    border: 1px solid grey;
}

.comingSoon > :last-child {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.comingSoon > :first-child span {
    padding-left: 2rem;
}

.comingSoon > :first-child span p {
    font-size: 20px;
    padding: 0.2rem;
    margin: 0;
}

.comingSoon > :first-child span h2 {
    font-size: 24px;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    margin: 0;
}

.comingSoon > :first-child span h1 {
    font-size: 48px;
    padding: 0;
    margin: 0;
}
