.dynamicForm {
    width: 100%;
    height: 100%;
    padding: 2rem;
}

.dynamicForm-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    overflow: auto;
    /* -ms-overflow-style: none; 
    scrollbar-width: none;  */
    border-radius: 0.5rem;
    padding: 2rem;
}

/* .dynamicForm-wrapper::-webkit-scrollbar {
    display: none;
} */

.dynamicForm-heading {
    width: auto !important;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
}

.dynamicForm-subHeading {
    margin-bottom: 3rem;
    text-align: center;
}

.dynamicForm-field-wrapper {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0.5rem;
    margin-bottom: 1.5rem;
}


.dynamicForm-select {
    width: 100%;
}

/* Input Fields */
.dynamicForm-field {
    width: 100%;
    padding: 1em;
    border-radius: 0.5rem;
    font-size: 1rem;
    line-height: 24px;
    transition: 0.1s all ease;
    margin: 0;
    border: 3px solid grey;
}

.dynamicForm-field:focus {
    outline-offset: 5px;
    border: 3px solid orange;
    transition: 0.5s all ease;
}

/* Password Eye Icon */
.dynamicForm-eyeIcon-button {
    width: 4em;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    border: 3px solid grey;
    border-radius: 0.5rem;
    margin-left: 1rem;
}

.dynamicForm-password-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.dynamicForm-error {
    color: red;
    background: rgb(255, 0, 0, 0.1);
    padding: 0.5em 1em;
    border-radius: 0.5em;
    font-size: 0.87rem;
    margin-top: 0.8rem;
    width: 100%;
    text-align: center;
}

/* Button Wrapper */
.dynamicForm-button-wrapper {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    width: 100%;
}
