.signUp-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.signUp-img {
    height: 100%;
}

.signUp-content>:first-child {
    width: 60%;
    height: 100%;
    padding: 2rem;
    flex-direction: column;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.signUp-content>:first-child::-webkit-scrollbar {
    display: none;
}

.signUp-content>:first-child div {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.signUp-content>:first-child div>:nth-child(1) {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signUp-content>:first-child div>:nth-child(1) h1 {
    font-size: 2rem;
}

.signUp-content>:first-child div>:nth-child(2) {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signUp-content>:first-child div>:nth-child(3) {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
}

.signUp-content-left-quote,
.signUp-content-right-quote {
    display: flex;
    width: 100%;
    align-items: center;
}

.signUp-content-left-quote {
    justify-content: flex-start;
}

.signUp-content-right-quote {
    justify-content: flex-end;
}

.signUp-content>:first-child div>:nth-child(3) p {
    font-size: 1.2rem;
    line-height: 1.5;
    /* line-height: normal; */
}

.signUp-content>:first-child div>:nth-child(4) {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.signUp-content>:first-child div>:nth-child(4) p,
.signUp-content>:first-child div>:nth-child(4) h1 {
    padding: 0.2rem;
    margin: 0;
    line-height: normal;
}

.signUp-content>:first-child div>:nth-child(4) h1 {
    font-weight: bolder;
}

.signUp-content>:last-child {
    width: 40%;
    height: 100%;
}