.noData {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.noData h1 {
    font-size: 2rem;
}

.noData p {
    font-size: 1.5rem;
}

.noData span:hover {
    text-decoration: underline;
}