.custom_btn {
    font-size: 1rem;
    line-height: 24px;
    font-weight: 100;
    text-align: center;
    border-radius: 10px;
    display: inline-block;
    cursor: pointer;
    transition: 0.1s all ease;
    -webkit-box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

.custom_btn:hover {
    border-radius: 20px;
    transition: 0.1s all ease;
}

.link_custom_btn_active {
    background-color: gold !important;
    color: black !important;
}

/* --------------------------------------------- */

.link_val {
    padding: 0 !important;
    margin: 0 !important;
}

.link_custom_btn {
    outline: none;
    border: none;
    cursor: pointer;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    width: 100%;
    height: 2.5rem;
    border-radius: 30px;
    font-size: 1rem;

    text-align: center;
    background: rgb(226, 255, 0, 0.1);
    color: gray;
    -webkit-box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.75);
}