.cube-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.cube-svg {
    max-width: 100%;
    height: auto;
    background: none;
}
