.scrollbar::-webkit-scrollbar {
    width: 16px;
}

.scrollbar::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #000000;
    border: 1px solid #000000;
}

.scrollbar::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 3px solid transparent;
    background-clip: content-box;
    background-color: #d55959;
}