.profileConfig {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 10fr;
    grid-auto-rows: 100%;
    grid-gap: 0.5em;
}

.profileConfig>:first-child{
    min-width: 120px;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
} 
.profileConfig>:first-child >:first-child{
    width: 80%;
    height: 80%;
    /* background-color: #2E3438; */
    background-color: rgb(7, 22, 27);
    color: lavender;
    border-radius: 1rem;
        padding: 0.8em;
        -webkit-box-shadow: 5px 10px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 5px 10px 5px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 5px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.profileConfig>:first-child >:first-child div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 32%;
    transform: none;
}

.profileConfig>:first-child >:first-child a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0.5em;
    text-decoration: none;
    cursor: pointer;
}

.profileConfig>:first-child >:first-child div p {
    margin: 0.5em;
    font-size: 1rem;
    line-height: 24px;
    color: lavender;
}

.profileConfig>:last-child {
    border-radius: 0.5rem;
}