.widgetError {
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.widgetError span {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.widgetError span p {
    margin: 0;
    padding: 0.4rem;
}

.widgetError-reload:hover {
    cursor: pointer;
    text-decoration: underline;
    
}