.error {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.error h1 {
    padding: 1rem;
    font-size: 1.5rem;
}
