/* .grid {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: grid;
    gap: 3.5rem;
    padding: 3.5em;
    grid-template-columns: repeat(auto-fit, 160px);
    grid-template-rows: max-content;
    overflow: auto;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-color: red;
}

.grid::-webkit-scrollbar {
    display: none;
} */

/* ********* */

.grid-profile {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: grid;
    gap: 3.5rem;
    padding: 3.5em;
    grid-template-columns: repeat(auto-fit, 160px);
    grid-template-rows: max-content;
    overflow: auto;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.grid-profile::-webkit-scrollbar {
    display: none;
}

/* *********** */

.grid-device {
    width: 100%;
    height: 100%;
}

.grid-device-data-not-available {
    width: 100%;
    height: 100%;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.grid-device-data-available {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: grid;
    gap: 3.5rem;
    padding: 3.5em;
    grid-template-columns: repeat(auto-fit, 160px);
    grid-template-rows: max-content;
    overflow: auto;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.grid-device-data-available::-webkit-scrollbar {
    display: none;
}