.device-information {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    padding: 1rem;
}

.device-information>:first-child {
    height: 14%;
    width: 90%;
    border-radius: 1rem;
}

.device-information>:first-child>:first-child {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.device-information>:last-child {
    height: 83%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.device-information>:last-child div {
    height: 18%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.device-information-content>:first-child,
.device-information-content-topic>:nth-child(1) {
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.device-information-content>:last-child,
.device-information-content-topic>:nth-child(2) {
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
}

.device-information-content-topic>:nth-child(2) {
    width: 75%;
}

.device-information-content-topic>:nth-child(3) {
    width: 5%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
}