.device-information {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    padding: 1rem;
}

.device-information > :first-child {
    height: 14%;
    width: 90%;
    border-radius: 1rem;
}

.device-information > :first-child > :first-child {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.device-information > :last-child {
    height: 83%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.device-information-content-div {
    height: 18%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.device-information-content > :first-child,
.device-information-content-topic > :nth-child(1) {
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.device-information-content > :last-child,
.device-information-content-topic > :nth-child(2) {
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
}

.device-information-content-topic > :nth-child(2) {
    align-items: center;
    justify-content: space-evenly;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.device-remote-section {
    height: 83%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-bottom: 1rem;
}
