.selector {
    width: 100%;
    height: 100%;
    padding: 2rem;
}

.selector-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    border-radius: 0.5rem;
    padding: 2rem;
}

.selector-wrapper::-webkit-scrollbar {
    display: none;
}

.selector-wrapper span {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    margin-bottom: 0.5em;
}

.selector-heading {
    width: auto !important;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
}

.selector-select {
    width: 100%;
    margin-bottom: 2em;
}

.css-qbdosj-Input {
    color: yellow !important;
}

.selector-btn {
    width: 50%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}