.todo {
    width: 100%;
    height: 100%;
    padding: 1rem;
    padding-bottom: 0;
}

.todo-list-wrapper {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    border-bottom-right-radius: 2rem;
    padding: 1rem;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    -webkit-box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

.todo-list-wrapper::-webkit-scrollbar {
    display: none;
}

.todo-list-wrapper div {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.3rem;
    margin-bottom: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    cursor: pointer;
}
.todo-list-msg {
    width: 85%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding-left: 1.5rem;
}
.todo-list-msg h1,
.todo-list-msg p {
    margin: 0;
    padding: 0;
}
.todo-list-msg h1 {
    font-size: 1.2rem;
}
.todo-list-msg p {
    font-size: 1rem;
}
.todo-list-edit {
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.todo-list-edit span {
    display: flex;
    align-items: center;
    justify-content: center;
}
