.addColorToRgbModel {
    height: 100%;
    width: 100%;
    border-radius: 0.6em;
    display: flex;
    padding: 0.6em;
    margin: 0 auto;
    gap: 0.6rem;
}

.addColorToRgbModel > :first-child {
    width: 80%;
    border-radius: inherit;
}

.addColorToRgbModel > :last-child {
    border-radius: inherit;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 20%;
    height: 100%;
    background: #2a3942;
    padding-top: 2rem;
}

/* ************************ */
.addColorToRgbModel_current_color {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
}
.addColorToRgbModel_current_color > :first-child,
.addColorToRgbModel_current_color > :last-child {
    display: flex;
    align-items: center;
    justify-content: center;
}
.addColorToRgbModel_current_color div span {
    padding: 0.1rem 0.4rem;
    border-radius: 1rem;
    background: rgb(0, 0, 0);
}

/* ************************ */

.addColorToRgbModel_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0.3em;
    border-radius: inherit;
}

.addColorToRgbModel_resposive .react-colorful {
    width: 100%;
    height: 100%;
}

/* ********************************* */

.addColorToRgbModel_saved_color {
    border-radius: inherit;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 0.3em;
}

.addColorToRgbModel_saved_color > :first-child {
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: #25292d;
    border-radius: inherit;
}

.addColorToRgbModel_saved_color > :last-child {
    height: 85%;
    background: #25292d;
    border-radius: inherit;
}

/* ************************* */
.addColorToRgbModel_saved_color_container {
    width: 100%;
    height: 100%;
    border-radius: inherit;
}
.addColorToRgbModel_saved_color_container_withData {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    gap: 0.5em;
    padding: 0.5em;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(5, 1fr);
    overflow: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    border-radius: inherit;
}

.addColorToRgbModel_saved_color_container_withData div {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: inherit;
}

.addColorToRgbModel_saved_color_container_withData::-webkit-scrollbar {
    display: none;
}
.addColorToRgbModel_saved_color_container_withoutData {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: inherit;
}
.addColorToRgbModel_saved_color_container_withoutData h1 {
    font-size: 1rem;
    margin: 1em;
}

/* ******************************************** */

.addColorToRgbModel_saved_function_container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    gap: 0.5em;
    padding: 1em;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    overflow: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.addColorToRgbModel_saved_function_container::-webkit-scrollbar {
    display: none;
}

.addColorToRgbModel_saved_function_container span {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: inherit;
    width: 120px;
    height: 60px;
    background: rgb(177, 216, 213, 0.9);
}
.addColorToRgbModel_saved_function_container span p {
    color: black;
}
.addColorToRgbModel_show_info {
    width: 100%;
    height: 100%;
}
