.profileCard_container_row_1,
.profileCard_container_row_2,
.profileCard_container_row_2_info,
.profileCard_container_row_2_info span {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profileCard {
    width: 160px;
    height: 180px;
    padding: 0.3em;
    border-radius: 0.6em;
    cursor: pointer;
    -webkit-box-shadow: 5px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.profileCard:hover {
    background: linear-gradient(130deg, #ff7a18, #af002d 41.07%, #319197 76.05%);
}

.profileCard_container {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.profileCard_container_icon {
    position: absolute;
    top: calc(20% - 10px);
    left: calc(42% - 10px);
}

.profileCard_container_row_1,
.profileCard_container_row_2 {
    flex-direction: column;
    width: 100%;
}

.profileCard_container_row_1 {
    height: 30%;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.profileCard_container_row_2 {
    height: 70%;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    overflow: hidden;
}

.profileCard_container_row_2_name {
    width: 100%;
    height: 50%;
    text-align: center;
    padding-top: 1em;
}

.profileCard_container_row_2_info {
    width: 100%;
    height: 50%;
}

.profileCard_container_row_2_info span {
    flex-direction: column;
    height: 100%;
    width: 50%;
}

.profileCard_container_row_2_info span p {
    margin: 0.2rem;
}