.window {
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.window_close_button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 1rem;
    right: 1rem;
}