@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    scroll-behavior: smooth;
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Helvetica, Arial, sans-serif;
}


input, button, select, textarea {
    font-family: inherit;
}

/* Global Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px;
    height: 8px; /* For horizontal scrollbars */
}

::-webkit-scrollbar-track {
    background: transparent; 
}

::-webkit-scrollbar-thumb {
    background: #555; 
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #777; 
}

/* Firefox support (limited) */
* {
    scrollbar-width: thin;
    scrollbar-color: #555 transparent;
}
