.form {
    height: 100%;
    border-radius: inherit;
    padding: 1em 0.5em;
}

.form_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: scroll;
    height: 100%;
    border-radius: inherit;
    padding: 1.5em 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.form_wrapper::-webkit-scrollbar {
    display: none;
}

/* ****************************** */
.form_wrapper h1 {
    font-size: 32px;
    line-height: 36px;
}

.form_wrapper p {
    font-size: 22px;
    line-height: 22px;
}

.form_wrapper h1,
.form_wrapper p {
    color: grey;
}

/* ****************************** */

.form_field {
    width: 60%;
    padding: 0.7em;
    border-radius: 0.5rem;
    font-size: 1rem;
    line-height: 24px;
    transition: 0.5s all ease;
    margin-top: 1em;
    border: 3px solid grey;
    -webkit-box-shadow: 2px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.form_field:focus {
    outline-offset: 5px;
    border: 3px solid orange;
    transition: 0.5s all ease;
}

/* ******************************* */
.form_error {
    color: red;
    background-color: rgb(255, 0, 0, 0.1);
    padding: 0.7em 1.5em 0.7em 1.5em;
    border-radius: 0.8em;
    font-size: 0.87rem;
    line-height: 21px;
}

/* ******************************************* */

@media (width <=1280px) {
    .form_field {
        padding: 0.5em;
        font-size: 0.87rem;
        line-height: 21px;
    }

    .form_wrapper h1 {
        font-size: 24px;
        line-height: 36px;
    }

    .form_wrapper p {
        font-size: 16px;
        line-height: 24px;
    }

    .add_css_to_prevent_overflow {
        justify-content: inherit;
    }
}
