.deviceRemote_container {
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

/* *************************************** */

.deviceFanRemote,
.deviceAcRemote {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    gap: 0.5em;
}

.deviceFanRemote > :first-child,
.deviceAcRemote > :first-child {
    width: 71%;
    height: 100%;
    background: #25292d;
    border-radius: inherit;
    padding: 1em;
    overflow: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.deviceFanRemote > :first-child::-webkit-scrollbar,
.deviceAcRemote > :first-child::-webkit-scrollbar {
    display: none;
}

.deviceFanRemote_code_input,
.deviceAcRemote_code_input {
    width: 100%;
    height: 30%;
    background: rgba(255, 192, 203, 0.3);
    display: flex;
    border-radius: inherit;
    padding: 1rem;
}

.deviceFanRemote_code_input form,
.deviceAcRemote_code_input form {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: inherit;
}
.deviceFanRemote_code_input form input,
.deviceAcRemote_code_input form input {
    border: none;
    outline: 0;
    width: 80%;
    min-height: 4em;
    background: #000000;
    padding-left: 1em;
    border-radius: 10px;
    color: lavender;
    -webkit-box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

.deviceFanRemote_code_input_form_error,
.deviceAcRemote_code_input_form_error {
    text-align: center;
    color:orangered;
    font-weight: 500;
}

.deviceFanRemote > :last-child,
.deviceAcRemote > :last-child {
    width: 29%;
    height: 100%;
    background: #25292d;
    border-radius: inherit;
}

.deviceFanRemote_btn,
.deviceAcRemote_btn {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.deviceFanRemote_btn span,
.deviceAcRemote_btn span {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.textCopyLink {
    color: orange;
}

.textCopyLink:hover {
    cursor: pointer;
    color: aqua;
}

.deviceFanRemote_saved_details {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.deviceFanRemote_saved_details > :first-child {
    height: 75%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.deviceFanRemote_saved_details > :first-child > :first-child {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}
.deviceFanRemote_saved_details > :first-child > :last-child {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}
.deviceFanRemote_saved_details > :last-child {
    height: 25%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
