.side_navigation,
.side_navigation div,
.side_navigation>:first-child span,
.side_navigation>:last-child span {
    display: flex;
    align-items: center;
}

.side_navigation,
.side_navigation div {
    width: 100%;
    flex-direction: column;
}

.side_navigation {
    height: 100%;
    justify-content: space-between;
}

.side_navigation div {
    height: 45%;
    padding: 0.4rem;
}

.side_navigation div a {
    text-decoration: none;
    cursor: pointer;
}

.side_navigation>:first-child {
    justify-content: flex-start;
}

.side_navigation>:last-child {
    justify-content: flex-end;
    padding-bottom: 1rem;
}

.side_navigation>:first-child span,
.side_navigation>:last-child span {
    width: 55px;
    height: 55px;
    justify-content: center;
    flex-direction: column;
    margin-top: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

/* .side_navigation>:first-child span:hover,
.side_navigation>:last-child span:hover {
    background-color: rgb(233, 233, 234);
} */

.side_navigation>:first-child span p,
.side_navigation>:last-child span p {
    margin-top: 0.5rem;
    margin-bottom: 0;
    padding: 0;
    font-size: 12px;
}