.side-navigation,
.side-navigation div,
.side-navigation > :first-child span,
.side-navigation > :last-child span {
    display: flex;
    align-items: center;
}

.side-navigation,
.side-navigation div {
    width: 100%;
    flex-direction: column;
}

.side-navigation {
    height: 100%;
    justify-content: space-between;
}

.side-navigation > :first-child {
    height: 60%;
    padding: 0.4rem;
    justify-content: flex-start;
}
.side-navigation > :last-child {
    height: 40%;
    padding: 0.4rem;
    justify-content: flex-end;
    padding-bottom: 1rem;
}

.side-navigation div a {
    text-decoration: none;
    cursor: pointer;
}

.side-navigation > :first-child span,
.side-navigation > :last-child span {
    width: 55px;
    height: 55px;
    justify-content: center;
    flex-direction: column;
    margin-top: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.side-navigation > :first-child span p,
.side-navigation > :last-child span p {
    margin-top: 0.5rem;
    margin-bottom: 0;
    padding: 0;
    font-size: 12px;
}
