.esp8266BasicSetup {
    height: 100%;
    width: 100%;
    padding: 1rem 2rem;
    color: lavender;
    overflow: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.esp8266BasicSetup::-webkit-scrollbar {
    display: none;
}

.esp8266BasicSetup h1 {
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    color: lavender;
}

.esp8266BasicSetup p {
    font-size: 24px;
    color: lavender;
}
