.spotify-library {
    width: 100%;
    height: 100%;
}

.spotify-library > :nth-child(1) {
    width: 100%;
    height: 7.7%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.spotify-library > :nth-child(2) {
    width: 100%;
    height: 84.6%;
}
.spotify-library > :nth-child(3) {
    width: 100%;
    height: 7.7%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    
    /* padding-left: 1rem;
    padding-right: 1rem;


    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none; */
}

/* .spotify-library > :nth-child(3)::-webkit-scrollbar {
    display: none;
} */

/* ************** */

.spotify-library > :nth-child(1) span {
    width: 20%;
    height: 60%;
    border-radius: 2rem;
    padding: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
    cursor: pointer;
}


.spotify-library-isLoading {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-radius: 1.2rem; */
}