.deviceRemote_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 0.5rem;
}

.deviceRemote {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    color: #888;
}
